<h5><b>SERVICIOS</b></h5>

<hr class="divider">

<%= link_to "Área Higiene y Seguridad en la Industria", servicios_hys_industria_path%>
<hr class="divider small">
<%= link_to "Área Higiene y Seguridad para la Construcción", servicios_hys_construccion_path%>
<hr class="divider small">
<%= link_to "Área Medio Ambiente", servicios_medio_ambiente_path%>
<hr class="divider small">
<%= link_to "Estudios y Evaluaciones", servicios_estudios_y_evaluaciones_path%>
<hr class="divider small">
<%= link_to "Edificio MAYSSO Seguro", servicios_edificio_seguro_path%>
<hr class="divider small">
<%= link_to "Manuales de Procedimientos", servicios_manuales_de_procedimientos_path%>

<hr class="divider">

<h5><b>INFORMACIÓN</b></h5>

<hr class="divider">

<p>Contacto</p>
<i>info@maysso.com.ar</i>
<br>
<i>gerencia@maysso.com.ar</i>