<section class="row">
  <div id="introCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="line-effect"></div>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "slide1.jpg" %>
        <div class="caption">MEDICIONES Y EVALUACIONES</div>
      </div>
      <div class="item">
        <%= image_tag "slide2.jpg" %>
        <div class="caption">HIGIENE Y SEGURIDAD</div>
      </div>
      <div class="item">
        <%= image_tag "slide3.jpg" %>
        <div class="caption">MEDIO AMBIENTE</div>
      </div>
    </div>
  </div>
</section>

<section class="row info">
  <div class="container">
    <div class="text-center">
      <h4><b>Nuestro asesoramiento se caracteriza por un alto grado de compromiso con la labor encomendada.</b></h4>
      <%= link_to "Contactenos", contacto_index_path, class: "btn btn-primary" %>
    </div>
    <p><b>MAYSSO ofrece entre sus servicios la elaboración de documentación técnica de Aspectos Higrotérmicos y Eficiencia Energética de las Construcciones - Ordenanza N° 8.757 - Decreto N° 985/2013.</b></p>
  </div>
</section>

<hr class="divider">

<section class="row row-eq-height showcase text-center">
  <div class="col-sm-4">
    <h5><b>Higiene y Seguridad en la Construcción</b></h5>
    <%= image_tag "servicios1.jpg", class: "img-responsive center-block" %>
  </div>
  <div class="col-sm-4">
    <h5><b>Medio Ambiente</b></h5>
    <%= image_tag "servicios2.jpg", class: "img-responsive center-block" %>
  </div>
  <div class="col-sm-4">
    <h5><b>Higiene y Seguridad en la Industria</b></h5>
    <%= image_tag "servicios3.jpg", class: "img-responsive center-block" %>
  </div>
</section>

<section class="row standards text-center">
  <h4><b>"Compromiso - Excelencia profesional - Fluida Comunicación - Celeridad - Calidad"</b></h4>
  <p>Valores que nos identifican</p>
</section>